<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Concert Central</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="<%= url('/styles.css') %>">
</head>
<body>
  <div id="wrap">
  <div id="site_header">
    <h1>Welome to Concert Central</h1>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
</html>
